<!doctype html>
<html lang="en-US">

<head>
    <meta charset="utf-8" />
    <title>Action</title>
</head>

<body>
    {% if action %}
        Action name : {{ action.action_name }}
        <ul>
            <li><a href="{% url 'create_occurence' action.action_name %}">Create occurence</a></li>
            <li><a href="{% url 'delete_action' action.action_name %}">Delete</a></li>
        </ul>
        {% if occurences_list %}
        <ul>
            {% for occurence in occurences_list %}
            <li>{{ occurence.occurence_date }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endif %}
</body>