{% extends "base.html" %}

{% block title %}
Actions
{% endblock %}

{% block content %}
{% if action %}

<div class="container">
    <p class="fs-2">{{ action.action_name }}</p>
    <hr class="hr">
    <div class="d-flex flex-row justify-content-between">
        <a class="btn-primary btn mb-3" href="{% url 'create_occurence' action.action_name %}">Create occurence</a>
        <a class="btn-primary btn mb-3" href="{% url 'delete_action' action.action_name %}">Delete action</a>
    </div>

    <table class="table">
        <caption>Occurences</caption>
        <thead>
            <tr>
                <th scope="col">Time of the occurence</th>
            </tr>
        </thead>
        <tbody style="display: block; max-height: 50vh; overflow-y: scroll">
            {% for occurence in occurences_list %}
            <tr>
                <td>{{ occurence.occurence_date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% endblock %}